%section#about.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-users
      %h1.section-title About Us
      %p.section-description.lead
        At Skorpion Software, we truly believe that it is our people that makes the difference.
        %br>/
        We make build quality web applications.
    .row
      .col-sm-4.member.text-center.scrollimation.fade-right.d2
        .member-title
          %h2 Alex Babich
          %p Developer &amp; Founder
        .img-wrapper
          %img.img-responsive{:alt => "", :src => "assets/booey.jpg"}
        %a.details-btn{"data-target" => "#member1-details", "data-toggle" => "collapse"}
          %i.fa.fa-plus
          %span Info
        #member1-details.collapse
          .member-details
            %p I am the Booey.  Sometimes I am mistaken for Tom Sellick
            / %ul.member-socials
            /   %li
            /     %a{:href => "#link"}
            /       %i.fa.fa-twitter
            /   %li
            /     %a{:href => "#link"}
            /       %i.fa.fa-facebook
            /   %li
            /     %a{:href => "#link"}
            /       %i.fa.fa-google-plus
      / End Single Member
      .col-sm-4.member.text-center.scrollimation.fade-in.d1
        .member-title
          %h2 Bob Roberts
          %p Developer &amp; Founder
        .img-wrapper
          %img.img-responsive{:alt => "", :src => "assets/bob1.jpg"}
        %a.details-btn{"data-target" => "#member2-details", "data-toggle" => "collapse"}
          %i.fa.fa-plus
          %span Info
        #member2-details.collapse
          .member-details
            %p Bob has been lucky since being honorably discharged from the Army to find his way to software development. Bob has been programming for several years now. Additionally, he loves teaching and mentoring new web developers. When Bob is not coding (which is most of the time) he loves riding his motorcycle, and cheering for The Arizona Cardinals. Bob is a proud father of one and just this summer was able to drive cross county to help his daughter settle in to earn her PHd. in Chemistry at the University of Wisconsin Madison.
            %ul.member-socials
              %li
                %a{:href => "https://twitter.com/bobr_az"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "https://github.com/brobertsaz/"}
                  %i.fa.fa-github

      .col-sm-4.member.text-center.scrollimation.fade-left.d3
        .member-title
          %h2 Vince Mosca
          %p VP of Sales
        .img-wrapper
          %img.img-responsive{:alt => "", :src => "assets/vinny.jpg"}
        %a.details-btn{"data-target" => "#member3-details", "data-toggle" => "collapse"}
          %i.fa.fa-plus
          %span Info
        #member3-details.collapse
          .member-details
            %p Vince loves connecting with people. He has an extended network of friends, colleagues, and associates and he enjoys making introductions and creating relationships that benefit both parties. He has experience working with Fortune 100 companies including Intel and Macy’s; local Arizona businesses, and start up companies. Vince is skilled at identifying needs, finding creative solutions, and getting results for his companies. The cornerstone of his approach with clients is tailoring his services to the company’s current needs in order to ensure the end result is right for his clients. Vince threw the shot put for Arizona State University, was ranked in the top 10 worldwide for the sport, and competed at two Olympic trials. Vince, his wife, and their four-year-old son are all natives of Arizona.
            %ul.member-socials
              %li
                %a{:href => "https://twitter.com/VinceMosca1"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "https://www.facebook.com/vince.mosca1"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "https://plus.google.com/+VinceMosca/posts"}
                  %i.fa.fa-google-plus
              %li
                %a{:href => "http://6028675309.tumblr.com/"}
                  %i.fa.fa-tumblr