%section#about.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-users
      %h1.section-title About Us
      %p.section-description.lead
        At Skorpion Software, we truly believe that it is our people that makes the difference.
        %br>/
        We make build quality applications.
    .row
      .col-sm-4.member.text-center.scrollimation.fade-right.d2
        .member-title
          %h2 Alex Babich
          %p Developer &amp; Founder
        / .img-wrapper
        /   %img.img-responsive.shadow{:alt => "", :src => "assets/member1_shadow.png"}
        /     %img.img-responsive.main-img{:alt => "", :src => "assets/member1-placeholder.png"}
        %a.details-btn{"data-target" => "#member1-details", "data-toggle" => "collapse"}
          %i.fa.fa-plus
          %span Info
        #member1-details.collapse
          .member-details
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh nec adipiscing accumsan. Phasellus eu dapibus magna. Sed rutrum est dapibus ipsum ultricies, et tempus nisl commodo. Ut massa nibh, tempor et vehicula id, adipiscing id augue. Nam lobortis nunc et sapien dictum bibendum. Proin sit amet mauris aliquet, lobortis turpis eu, tincidunt felis. Integer semper mauris nec tellus mollis, at bibendum nunc euismod.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus
      / End Single Member
      .col-sm-4.member.lead-member.text-center.scrollimation.fade-in.d1
        .member-title
          %h2 Bob Roberts
          %p Developer &amp; Founder
        / .img-wrapper
        /   %img.img-responsive.shadow{:alt => "", :src => "assets/member2_shadow.png"}
        /     %img.img-responsive.main-img{:alt => "", :src => "assets/member2-placeholder.png"}
        %a.details-btn{"data-target" => "#member2-details", "data-toggle" => "collapse"}
          %i.fa.fa-plus
          %span Info
        #member2-details.collapse
          .member-details
            %p I kind of bounced around after the Army and did a lot of different things.  Then I found programming and have been doing it for several years now.  I love teaching and mentoring people to become web developers.  When I am not coding (which is most of the time) I love riding my motorcycle.  Not sure if it was mid-life or just a real desire to own a sports bike but I sure do love mine.  Feel free to hit me up if you have any questions, unless it is Football day, because I will be supporting my AZ Cardinals.
            %ul.member-socials
              %li
                %a{:href => "https://twitter.com/bobr_az"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "https://github.com/brobertsaz/"}
                  %i.fa.fa-github

      .col-sm-4.member.text-center.scrollimation.fade-left.d3
        .member-title
          %h2 Vince Mosca
          %p VP of Sales
        / .img-wrapper
        /   %img.img-responsive.shadow{:alt => "", :src => "assets/member3_shadow.png"}
        /     %img.img-responsive.main-img{:alt => "", :src => "assets/member3-placeholder.png"}
        %a.details-btn{"data-target" => "#member3-details", "data-toggle" => "collapse"}
          %i.fa.fa-plus
          %span Info
        #member3-details.collapse
          .member-details
            %p If you search my name on google I am the shot putter. I am not the orthopedic surgeon in Seattle, Washington that is affiliated with multiple hospitals in the area, including Harborview Medical Center and Providence Alaska Medical Center. I am still mad at my name twin for taking our name @gmail.com. I will forever be cursed with VincentMosca1@gmail.com. He never back squatted 665 pounds or threw the shot put 68 feet so I guess we are even.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus