%section#about.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-users
      %h1.section-title About Us
      %p.section-description.lead
        We are a small team of enthusiasts who enjoy online digital and offline world.
        %br>/
        We make high quality graphics and clean HTML5 and CSS3 codes.
    .row
      .col-sm-4.member.text-center.scrollimation.fade-right.d2
        .member-title
          %h2 Alex Babich
          %p Developer &amp; Founder
        / .img-wrapper
        /   %img.img-responsive.shadow{:alt => "", :src => "assets/member1_shadow.png"}
        /     %img.img-responsive.main-img{:alt => "", :src => "assets/member1-placeholder.png"}
        %a.details-btn{"data-target" => "#member1-details", "data-toggle" => "collapse", :href => "#link"}
          %i.fa.fa-plus
          %span Info
        #member1-details.collapse
          .member-details
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh nec adipiscing accumsan. Phasellus eu dapibus magna. Sed rutrum est dapibus ipsum ultricies, et tempus nisl commodo. Ut massa nibh, tempor et vehicula id, adipiscing id augue. Nam lobortis nunc et sapien dictum bibendum. Proin sit amet mauris aliquet, lobortis turpis eu, tincidunt felis. Integer semper mauris nec tellus mollis, at bibendum nunc euismod.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus
      / End Single Member
      .col-sm-4.member.lead-member.text-center.scrollimation.fade-in.d1
        .member-title
          %h2 Bob Roberts
          %p Developer &amp; Founder
        / .img-wrapper
        /   %img.img-responsive.shadow{:alt => "", :src => "assets/member2_shadow.png"}
        /     %img.img-responsive.main-img{:alt => "", :src => "assets/member2-placeholder.png"}
        %a.details-btn{"data-target" => "#member2-details", "data-toggle" => "collapse", :href => "#link"}
          %i.fa.fa-plus
          %span Info
        #member2-details.collapse
          .member-details
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh nec adipiscing accumsan. Phasellus eu dapibus magna. Sed rutrum est dapibus ipsum ultricies, et tempus nisl commodo. Ut massa nibh, tempor et vehicula id, adipiscing id augue. Nam lobortis nunc et sapien dictum bibendum. Proin sit amet mauris aliquet, lobortis turpis eu, tincidunt felis. Integer semper mauris nec tellus mollis, at bibendum nunc euismod.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus
      .col-sm-4.member.text-center.scrollimation.fade-left.d3
        .member-title
          %h2 Vince Mosca
          %p VP of Sales
        / .img-wrapper
        /   %img.img-responsive.shadow{:alt => "", :src => "assets/member3_shadow.png"}
        /     %img.img-responsive.main-img{:alt => "", :src => "assets/member3-placeholder.png"}
        %a.details-btn{"data-target" => "#member3-details", "data-toggle" => "collapse", :href => "#link"}
          %i.fa.fa-plus
          %span Info
        #member3-details.collapse
          .member-details
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh nec adipiscing accumsan. Phasellus eu dapibus magna. Sed rutrum est dapibus ipsum ultricies, et tempus nisl commodo. Ut massa nibh, tempor et vehicula id, adipiscing id augue. Nam lobortis nunc et sapien dictum bibendum. Proin sit amet mauris aliquet, lobortis turpis eu, tincidunt felis. Integer semper mauris nec tellus mollis, at bibendum nunc euismod.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus