%section#approach.bg-transparent
  .container.scrollimation.fade-left
    %h1.text-center
      Our Approach

    .row
      .col-sm-8.col-sm-offset-2
        #approach-slider.flexslider
          %ul.slides
            %li
              %p.testimonial
              %b
                Lean/Agile Methodology:
              Successful websites, web apps, mobile apps, and landing pages are created through a commitment to testing, learning, and iterating. We utilize an agile approach to web and software development, taking an idea from the drawing board to minimum viable product quickly. We seek to solve real problems through a seamless digital experience.

            %li
              %p.testimonial
              %b
                Always responsive:
              56% of traffic comes from mobile devices. It is not enough to be mobile-friendly, we think mobile first. Our sites will display and function correctly on any device your audience chooses to use, delivering a seamless, intuitive user experience.

            %li
              %p.testimonial
              %b
                Results-Driven:
              We design for improved conversion rates and lead generation to drive growth for your business. Your website will be transformed into a sales funnel, built for conversions.

