%section#brands.bg-transparent
  .container.scrollimation.fade-right
    %h1.text-center
      Brands We Have Worked With

    .row
      .col-sm-8.col-sm-offset-2
        #brands-slider.flexslider
          %ul.slides
            %li
              = image_tag "logos/avanti.png"

            %li
              = image_tag "logos/farmer-woods.png"

            %li
              = image_tag "logos/grad-solutions.png"


