%section#contact.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-envelope
      %h1.section-title Contact
      %h3.section-description
        Let’s Build Something Great!

    .row
      #contact_form.col-sm-6.scrollimation.fade-right
        = render 'contacts/new'

      .col-sm-5.col-sm-offset-1.contact-info
        .scrollimation.scale-in
          %h3.primary Find Us
          %ul.address
            %li
              %span>
                %i.fa.fa-map-marker.fa-fw
              Madison, WI

            %li
              %span>
                %i.fa.fa-phone.fa-fw
              (608) 571-3760
            %li
              %span
                %i.fa.fa-envelope.fa-fw
              %a{:href => "mailto:cardsfanbob@gmail.com"} contact us
        .scrollimation.scale-in
          %h3.primary Business Hours
          %ul.hours
            %li
              %span> Mon - Fri :
              9am - 5pm
            %li
              %span> Saturday :
              9am - 2pm


        .map.scrollimation.scale-in
          %img.img-responsive{:alt => "", :src => "assets/map.png"}/
          %a.spot{"data-toggle" => "tooltip", :href => "https://www.google.com/maps/place/Madison,+WI/@43.0849081,-89.5465041,11z/data=!3m1!4b1!4m5!3m4!1s0x8806536d3a2019ff:0x4e0cfcb5ba484198!8m2!3d43.0730517!4d-89.4012302", :style => "top:42%; left:16.5%;", :target => "_blank", :title => "Find Us on Google Maps"}
            %span
