%section#services.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-wrench
      %h1.section-title Services
      %p.section-description.lead
        In today’s environment, your business must not only be online and ‘mobile’, it must have targeted marketing strategies to complement and enhance your online presence. From websites to web and mobile applications to search engine optimization, Skorpion Software provides the web solutions to get your business online and marketed directly to your customers.
      %p.section-description.lead
        Skorpion Software works with startups, agencies, and enterprises to develop and maintain effective digital solutions for a viable online presence. With web solutions from Skorpion Software, startups, get off the ground running, agencies boost their services, and enterprises increase their reach and market share.


    .row
      .col-sm-4.item.text-center.scrollimation.scale-in
        .icon
          %i.fa.fa-mobile
        %h2 Mobile Apps
        %p{style: 'text-align:justify;'} Mobile applications take your business to your target audience leading to greater interaction and ultimately more customer conversion. With most of your potential customers using a mobile device, you have to meet them where they are to increase your revenue. Whether as a small or large business, to be competitive, easily interact with your customer base, and acquire new customers, your contact with them have to be mobile focused.
        %p{style: 'text-align:justify;'} At Skorpion Software, we develop apps for both iOS and Android platforms enabling our clients to undertake direct marketing, increase their visibility and get the best of both worlds.
        %h4 iOS Apps
        %h4 Android Apps
        %h4 Mobile First
      .col-sm-4.item.text-center.scrollimation.scale-in.d1
        .icon
          %i.fa.fa-laptop
        %h2 Web Apps
        %p{style: 'text-align:justify;'} Website applications provide better user experience and advanced features within browsers. A web app is geared at getting persons to do something, and not necessarily only for information purposes as some websites are. The web is moving in the direction of web apps and so should you.
        %h4 Websites
        %h4 E-Commerce
        %h4 Content Management Systems
        %h4 Ruby on Rails

      .col-sm-4.item.text-center.scrollimation.scale-in.d2
        .icon
          %i.fa.fa-line-chart
        %h2 SEO
        %p{style: 'text-align:justify;'} To enhance your presence online and market your services or products, you need targeted marketing. Search Engine Optimization (SEO) helps improve the prominence of your business online and is one of the main means for reaching your future customers. With something as simple as improving your website’s functionality, and on and off page SEO, you can improve your rankings and generate increased organic traffic from search engines.
        %h4 Google Analytics
        %h4 Pay-Per-Click
        %h4 Lead Generation


    %br/
    %p.lead.text-center.scrollimation.fade-in Need something not listed? Contact us to discuss about it.
    %p.text-center.scrollimation.scale-in
      %a.btn.btn-theme.btn-lg.scrollto{:href => "#contact"} Contact Us