%section#services.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-wrench
      %h1.section-title Services
      %p.section-description.lead
        If you need a website, a iOS/Android app, or a web app, we have the the perfect solution for all of your project needs.
        %br>/
        We make dreams come true.

    .row
      .col-sm-4.item.text-center.scrollimation.scale-in
        .icon
          %i.fa.fa-mobile
        %h3 Mobile Apps
        %h4 iOS Apps
        %h4 Android Apps
      .col-sm-4.item.text-center.scrollimation.scale-in.d1
        .icon
          %i.fa.fa-laptop
        %h3 Web Apps
        %h4 Websites
        %h4 E-Commerce
        %h4 Content Management Systems

      .col-sm-4.item.text-center.scrollimation.scale-in.d2
        .icon
          %i.fa.fa-line-chart
        %h3 SEO
        %h4 Google Analytics
        %h4 Pay-Per-Click
        %h4 Lead Generation


    %br/
    %p.lead.text-center.scrollimation.fade-in Need something not listed? Contact us to discuss about it.
    %p.text-center.scrollimation.scale-in
      %a.btn.btn-theme.btn-lg.scrollto{:href => "#contact"} Contact Us