%section#social-links.bg-transparent
  .container
    %ul
      %li.scrollimation.fade-up
        %a.icon{:href => "https://twitter.com/skorpiontweets"}
          %i.fa.fa-twitter
        %h4 Follow us on Twitter
      %li.scrollimation.fade-up.d1
        %a.icon{:href => "https://www.facebook.com/skorpionsoftware/"}
          %i.fa.fa-facebook
        %h4 Like us on Facebook
    /   %li.scrollimation.fade-up.d2
    /     %a.icon{:href => "#dribbblelink"}
    /       %i.fa.fa-dribbble
    /     %h4 Find us on Dribbble
    /   %li.scrollimation.fade-up.d3
    /     %a.icon{:href => "#gpluslink"}
    /       %i.fa.fa-google-plus
    /     %h4 Find us on Google+