%section#testimonials.bg-transparent
  .container.scrollimation.fade-left
    %h1.text-center
      Our Process

    .row
      .col-sm-8.col-sm-offset-2
        #testimonials-slider.flexslider
          %ul.slides
            %li
              %p.testimonial
              %b
                Needs Analysis:
              We start off with discussing the project with you so that we can identify your goals, your users and their needs.

            %li
              %p.testimonial
              %b
                Project Requirements:
              After we have a pretty good idea of what you want, we then decide on the 'scope' or the expected requirements of the project.

            %li
              %p.testimonial
              %b
                Project Planning:
              We will create 'user stories' in a sharable manner that will outline all of the tasks that are required to complete the project.  As we work in an agile development process, you will get daily updates for what we are doing.

