%section#testimonials.bg-transparent
  .container.scrollimation.fade-left
    %h1.text-center
      Our Process

    .row
      .col-sm-8.col-sm-offset-2
        #testimonials-slider.flexslider
          %ul.slides
            %li
              %p.testimonial
              %b
                Idea/Discovery:
              We work with our clients to design a clear strategy for success. We think big-picture to help our clients quickly shape their ideas and objectives leading to the final project plan. This facilitates a quick turnaround and successful launch of the final product in line with their business goals.
            %li
              %p.testimonial
              %b
                UX Strategy and Design:
              User experience (UX) matters in developing digital solutions. With a user-centric focus, our designers and developers work collaboratively with you to map the strategy for your ideal user experience, and design for your audience’s unique needs.

            %li
              %p.testimonial
              %b
                Engineering:
              We are experts in multiple technical stacks, languages, and platforms. We will build the right solution that fits your company needs.

            %li
              %p.testimonial
              %b
                Deployment:
              Our team is experienced in bringing products to market. We handle the launch of your website or app and are committed to post-launch support and monitoring.

            %li
              %p.testimonial
              %b
                Iteration:
              We know that a good product iterates based on user feedback. Our development process adapts to positive and negative user feedback quickly, performing multiple iterations to bring the best product to market.