%section#testimonials.bg-transparent
  .container.scrollimation.fade-left
    .quote-icon

      %i.fa.fa-quote-left
    .row
      .col-sm-8.col-sm-offset-2
        #testimonials-slider.flexslider
          %ul.slides
            %li
              %p.testimonial Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor.
              %img.client-img.img-circle{:alt => "", :src => "assets/client-placeholder.jpg"}/
              %p.client
                John Doe /
                %span Google Inc.

            %li
              %p.testimonial Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor.
              %img.client-img.img-circle{:alt => "", :src => "assets/client-placeholder.jpg"}/
              %p.client
                John Doe /
                %span Microsoft
            %li
              %p.testimonial Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor.
              %img.client-img.img-circle{:alt => "", :src => "assets/client-placeholder.jpg"}/
              %p.client
                John Doe /
                %span Amazon
