#page-loader
  %h1.loader-logo
    Shapes
    %span / Creative Studio
  %span.page-loader-gif
/ === BACKGROUND ===
#backgrounds{"data-backgrounds" => "assets/back_img_1.jpg,assets/back_img_2.jpg,assets/back_img_3.jpg"}
#color-overlay


%header#home.jumbotron
  .container
    %img.img-responsive.img-center.header-logo{:alt => "", :src => "assets/drop.png"}
      .message-box.clearfix
        .first-line
          %p The best things in life
        .second-line.flexslider.home-slider
          %ul.slides
            %li
              %p are not things
            %li
              %p are Shapes


%section#services.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-wrench
      %h1.section-title Services
      %p.section-description.lead
        We create awesome Websites and Mobile Apps, the perfect solution for your project.
        %br>/
        We don't make designs, we make magic!

    .row
      .col-sm-4.item.text-center.scrollimation.scale-in
        .icon
          %i.fa.fa-tint
        %h3 We Design
        %h4 HTML5 Power
        %h4 CSS3 Awesomeness
        %h4 jQuery Magic
      .col-sm-4.item.text-center.scrollimation.scale-in.d1
        .icon
          %i.fa.fa-laptop
        %h3 We Create
        %h4 Web Apps
        %h4 Android Apps
        %h4 iOS Apps
      .col-sm-4.item.text-center.scrollimation.scale-in.d2
        .icon
          %i.fa.fa-heart-o
        %h3 We Love
        %h4 The Web
        %h4 Clean Desing
        %h4 Huppy Clients
    / End row
    %br/
    %p.lead.text-center.scrollimation.fade-in Want to talk about a custom solution? Contact us to discuss about it.
    %p.text-center.scrollimation.scale-in
      %a.btn.btn-theme.btn-lg.scrollto{:href => "#contact"} Contact Us
  / End container
/ End services section
/
  \==============================================
  CALL TO ACTION
  \===============================================
%section.bg-transparent.cta
  .container
    .row
      .col-md-9.cta-message.scrollimation.fade-right
        %p
          %strong SHAPES Bootstrap Template
          is the perfect sollution for your team's online portfolio. Don't waste time!
      .col-md-3.cta-button.scrollimation.fade-left
        %p.text-center
          %a.btn.btn-theme.btn-lg{:href => "#link", :target => "_blank"}
            %i.fa.fa-shopping-cart>
            Purchase Now
    / End row
  / End container
/ End Call to Action
/
  \==============================================
  PORTFOLIO
  \===============================================
%section#portfolio
  .bg-light
    / Start portfolio header
    .container
      .section-header.scrollimation.fade-up
        .section-icon
          %i.fa.fa-suitcase
        %h1.section-title Portfolio
        %p.section-description.lead
          We are proud of what we have done. We are ready for the next big challenge. Yours!
          %br/
          Take a look at our most recent projects.
      / End section-header
      / ==== Portfolio Filters ====
      #filter-works.scrollimation.fade-in
        %ul{"data-filter" => "category"}
          %li.active
            %a{"data-category" => "*", :href => "#"} All Categories
          %li
            %a{"data-category" => ".web-design", :href => "#"} Web Design
          %li
            %a{"data-category" => ".apps", :href => "#"} Apps
          %li
            %a{"data-category" => ".ui-kits", :href => "#"} UI Kits
        %ul{"data-filter" => "type"}
          %li.active
            %a{"data-type" => "*", :href => "#"} All Types
          %li
            %a{"data-type" => ".image", :href => "#"} Image
          %li
            %a{"data-type" => ".gallery", :href => "#"} Gallery
          %li
            %a{"data-type" => ".video", :href => "#"} Video
      / End portfolio filters
      %p.filter-results.text-center
        %span
        Works match criteria
    / End container
  / End portfolio header
  / ==== Project Preview Panel (DO NOT REMOVE)====
  #preview-scroll
  #preview-loader
  #project-preview-wrapper
    #project-preview
      .container
        .preview-header
          %h1.preview-title
          %span.close-preview
            %i.fa.fa-times
        .row
          #preview-media.col-md-8
          #preview-details.col-md-4
            %h2 Project Details
            %ul
        #preview-content.row
      / End container
    / End #project-preview panel
  / End #project-preview-wrapper
  .padding-bottom.bg-light
    / Start Projects Band
    .container.masonry-wrapper
      #projects-container
        /
          \==============================================
          SINGLE PROJECT ITEM
          \===============================================
        %article.project-item.web-design.image
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Shpick
                / Project Title
                %small Web design, Image
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-images" => "assets/projects/project-slide-placeholder.png"}
            .project-attributes
              .newline
                %span> Date :
                November 2013
              .newline
                %span> Client :
                Company SA
              .newline
                %span> Categories :
                Web Design
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-4
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-4
                %h2 The Solution
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-4
                %h2 The Result
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        /
          \==============================================
          END PROJECT ITEM
          \===============================================
        %article.project-item.web-design.apps.gallery
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Badoo
                / Project Title
                %small Web design, Gallery
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-images" => "assets/projects/project-slide-placeholder.png,assets/projects/project-slide-placeholder.png"}
            .project-attributes
              .newline
                %span> Date :
                July 2013
              .newline
                %span> Client :
                Microsoft Inc.
              .newline
                %span> Categories :
                Web Design, Apps
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-6
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-6
                %h2 The Solution
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        %article.project-item.ui-kits.apps.gallery
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Moscow Tsum
                / Project Title
                %small UI-Kits, Gallery
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-images" => "assets/projects/project-slide-placeholder.png,assets/projects/project-slide-placeholder.png"}
            .project-attributes
              .newline
                %span> Date :
                May 2013
              .newline
                %span> Client :
                Google Inc.
              .newline
                %span> Categories :
                Apps, UI Kits
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-12
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        %article.project-item.web-design.ui-kits.gallery
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Own the Night
                / Project Title
                %small Web design, Gallery
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-images" => "assets/projects/project-slide-placeholder.png,assets/projects/project-slide-placeholder.png"}
            .project-attributes
              .newline
                %span> Date :
                November 2012
              .newline
                %span> Client :
                Company SA
              .newline
                %span> Categories :
                Web Design, UI Kits
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-4
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-4
                %h2 The Solution
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-4
                %h2 The Result
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        %article.project-item.apps.video
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Joyl
                / Project Title
                %small Apps, Video
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-video" => "<iframe src=\"http://player.vimeo.com/video/81183852\" width=\"500\" height=\"281\" frameborder=\"0\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"}
            .project-attributes
              .newline
                %span> Date :
                June 2012
              .newline
                %span> Client :
                Microsoft Inc.
              .newline
                %span> Categories :
                Apps
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-6
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-6
                %h2 The Solution
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        %article.project-item.web-design.apps.video
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Record
                / Project Title
                %small Web design, Video
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-video" => "<iframe src=\"http://player.vimeo.com/video/58241892\" width=\"500\" height=\"281\" frameborder=\"0\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"}
            .project-attributes
              .newline
                %span> Date :
                April 2012
              .newline
                %span> Client :
                Google Inc.
              .newline
                %span> Categories :
                Web Design, Apps
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-12
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        %article.project-item.apps.ui-kits.video
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Coffee Connect
                / Project Title
                %small UI-Kits, Video
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-video" => "<iframe width=\"640\" height=\"360\" src=\"http://www.youtube.com/embed/JOP-_8TFWn8?feature=player_detailpage&amp;html5=1\" frameborder=\"0\" allowfullscreen></iframe>"}
            .project-attributes
              .newline
                %span> Date :
                November 2011
              .newline
                %span> Client :
                Company SA
              .newline
                %span> Categories :
                Apps, UI Kits
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-4
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-4
                %h2 The Solution
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-4
                %h2 The Result
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        %article.project-item.ui-kits.video
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Tagbrand
                / Project Title
                %small UI-Kits, Video
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-video" => "<iframe width=\"640\" height=\"360\" src=\"http://www.youtube.com/embed/JuyB7NO0EYY?feature=player_detailpage&amp;html5=1\" frameborder=\"0\" allowfullscreen></iframe>"}
            .project-attributes
              .newline
                %span> Date :
                October 2011
              .newline
                %span> Client :
                Microsoft Inc.
              .newline
                %span> Categories :
                UI Kits
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-6
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
              .col-md-6
                %h2 The Solution
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
        %article.project-item.apps.image
          %a{:href => "#"}
            %img.img-responsive.project-thumb{:alt => "", :src => "assets/projects/project-thumb-placeholder.png"}
              / Project thumb
              .details
                %h3.project-title Owzzup
                / Project Title
                %small Apps, Image
                / Project Categories
          / ==== Project Preview ====
          .sr-only
            .project-media{"data-images" => "assets/projects/project-slide-placeholder.png"}
            .project-attributes
              .newline
                %span> Date :
                April 2011
              .newline
                %span> Client :
                Google Inc.
              .newline
                %span> Categories :
                Apps
              .newline
                %span Website :
                %a{:href => "#link"} www.example.com
            .project-description
              .col-md-12
                %h2 The Challenge
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          / End Project Preview
      / End #projects-container
    / End container
    .container
      %br/
      %p.lead.text-center.scrollimation.fade-in
        We are ready for the next challenge.
        %span.primary Yours!
      %p.text-center.scrollimation.scale-in
        %a.btn.btn-theme.btn-lg.scrollto{:href => "#contact"} Contact Us
  / End Projects Band
/ End portfolio section
%section#testimonials.bg-transparent
  .container.scrollimation.fade-left
    .quote-icon
      / Testimonials Icon
      %i.fa.fa-quote-left
    .row
      .col-sm-8.col-sm-offset-2
        #testimonials-slider.flexslider
          %ul.slides
            / Single Testimonial
            %li
              %p.testimonial Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor.
              %img.client-img.img-circle{:alt => "", :src => "assets/client-placeholder.jpg"}/
              %p.client
                John Doe /
                %span Google Inc.
            / End Single Testimonial
            %li
              %p.testimonial Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor.
              %img.client-img.img-circle{:alt => "", :src => "assets/client-placeholder.jpg"}/
              %p.client
                John Doe /
                %span Microsoft
            %li
              %p.testimonial Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor.
              %img.client-img.img-circle{:alt => "", :src => "assets/client-placeholder.jpg"}/
              %p.client
                John Doe /
                %span Amazon
        / End slider
      / End col
    / End row
  / End container
/ End Testimonials section
/
  \==============================================
  ABOUT
  \===============================================
%section#about.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-users
      %h1.section-title About Us
      %p.section-description.lead
        We are a small team of enthusiasts who enjoy online digital and offline world.
        %br>/
        We make high quality graphics and clean HTML5 and CSS3 codes.
    / End section-header
    .row
      / Single Member
      .col-sm-4.member.text-center.scrollimation.fade-right.d2
        .member-title
          %h2 Richard Roe
          %p Lead Developer
        .img-wrapper
          %img.img-responsive.shadow{:alt => "", :src => "assets/member1_shadow.png"}
            %img.img-responsive.main-img{:alt => "", :src => "assets/member1-placeholder.png"}
        %a.details-btn{"data-target" => "#member1-details", "data-toggle" => "collapse", :href => "#link"}
          %i.fa.fa-plus
          %span Info
        #member1-details.collapse
          .member-details
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh nec adipiscing accumsan. Phasellus eu dapibus magna. Sed rutrum est dapibus ipsum ultricies, et tempus nisl commodo. Ut massa nibh, tempor et vehicula id, adipiscing id augue. Nam lobortis nunc et sapien dictum bibendum. Proin sit amet mauris aliquet, lobortis turpis eu, tincidunt felis. Integer semper mauris nec tellus mollis, at bibendum nunc euismod.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus
      / End Single Member
      .col-sm-4.member.lead-member.text-center.scrollimation.fade-in.d1
        .member-title
          %h2 John Doe
          %p Lead Designer &amp; Founder
        .img-wrapper
          %img.img-responsive.shadow{:alt => "", :src => "assets/member2_shadow.png"}
            %img.img-responsive.main-img{:alt => "", :src => "assets/member2-placeholder.png"}
        %a.details-btn{"data-target" => "#member2-details", "data-toggle" => "collapse", :href => "#link"}
          %i.fa.fa-plus
          %span Info
        #member2-details.collapse
          .member-details
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh nec adipiscing accumsan. Phasellus eu dapibus magna. Sed rutrum est dapibus ipsum ultricies, et tempus nisl commodo. Ut massa nibh, tempor et vehicula id, adipiscing id augue. Nam lobortis nunc et sapien dictum bibendum. Proin sit amet mauris aliquet, lobortis turpis eu, tincidunt felis. Integer semper mauris nec tellus mollis, at bibendum nunc euismod.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus
      .col-sm-4.member.text-center.scrollimation.fade-left.d3
        .member-title
          %h2 Jane Doe
          %p Designer
        .img-wrapper
          %img.img-responsive.shadow{:alt => "", :src => "assets/member3_shadow.png"}
            %img.img-responsive.main-img{:alt => "", :src => "assets/member3-placeholder.png"}
        %a.details-btn{"data-target" => "#member3-details", "data-toggle" => "collapse", :href => "#link"}
          %i.fa.fa-plus
          %span Info
        #member3-details.collapse
          .member-details
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet nibh nec adipiscing accumsan. Phasellus eu dapibus magna. Sed rutrum est dapibus ipsum ultricies, et tempus nisl commodo. Ut massa nibh, tempor et vehicula id, adipiscing id augue. Nam lobortis nunc et sapien dictum bibendum. Proin sit amet mauris aliquet, lobortis turpis eu, tincidunt felis. Integer semper mauris nec tellus mollis, at bibendum nunc euismod.
            %ul.member-socials
              %li
                %a{:href => "#link"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#link"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#link"}
                  %i.fa.fa-google-plus
    / End row
  / End container
/ End about section
/
  \==============================================
  TWITTER FEED
  \===============================================
%section#twitter.bg-transparent
  .container.scrollimation.fade-right
    .twitter-icon
      / Twitter Icon
      %i.fa.fa-twitter
    .row
      .col-sm-8.col-sm-offset-2
        #twitter-slider.flexslider{"data-tweets-length" => "3", "data-widget-id" => "386017398488186880"}
        / End slider
      / End col
    / End row
  / End container
/ End Twitter section
/
  \==============================================
  CONTACT
  \===============================================
%section#contact.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-envelope
      %h1.section-title Contact
      %p.section-description.lead
        Are you ready to start your project? We are here for you.
        %br/
        Visit us, write to us or call us
    / End section-header
    .row
      / === Contact Form ===
      %form#contact-form.col-sm-6.scrollimation.fade-right{:action => "contact.php", :method => "post", :novalidate => ""}
        %h3.primary Drop us a line
        .form-group
          %label.control-label{:for => "contact-name"} Name
          .controls
            %input#contact-name.form-control.input-lg.requiredField{"data-error-empty" => "Please enter your name", :name => "contactName", :placeholder => "Your name", :type => "text"}
              %i.fa.fa-user
        / End name input
        .form-group
          %label.control-label{:for => "contact-mail"} Email
          .controls
            %input#contact-mail.form-control.input-lg.requiredField{"data-error-empty" => "Please enter your email", "data-error-invalid" => "Invalid email address", :name => "email", :placeholder => "Your email", :type => "email"}
              %i.fa.fa-envelope
        / End email input
        .form-group
          %label.control-label{:for => "contact-message"} Message
          .controls
            %textarea#contact-message.form-control.input-lg.requiredField{"data-error-empty" => "Please enter your message", :name => "comments", :placeholder => "Your message", :rows => "6"}
            %i.fa.fa-comment
        / End textarea
        %p
          %button.btn.btn-theme.btn-block{"data-error-message" => "Error!", "data-ok-message" => "Message Sent", "data-sending-message" => "Sending...", :name => "submit", :type => "submit"}
            %i.fa.fa-location-arrow>
            Send Message
        %input#submitted{:name => "submitted", :type => "hidden", :value => "true"}/
      / End contact-form
      .col-sm-5.col-sm-offset-1.contact-info
        .scrollimation.scale-in
          %h3.primary Find Us
          %ul.address
            %li
              %span>
                %i.fa.fa-map-marker.fa-fw
              W325 State Road 123
              %br
                Mondovi, WI(Wisconsin) 98746-54321
            %li
              %span>
                %i.fa.fa-phone.fa-fw
              (123) 456 - 7890
            %li
              %span>
                %i.fa.fa-print.fa-fw
              (123) 456 - 7890
            %li
              %span
                %i.fa.fa-envelope.fa-fw
              %a{:href => "mailto:mail@example.com"} mail@example.com
        .scrollimation.scale-in
          %h3.primary Business Hours
          %ul.hours
            %li
              %span> Mon - Fri :
              9am - 5pm
            %li
              %span> Saturday :
              9am - 2pm
            %li
              %span Sunday :
              \-
        .map.scrollimation.scale-in
          %img.img-responsive{:alt => "", :src => "assets/map.png"}/
          %a.spot{"data-toggle" => "tooltip", :href => "https://maps.google.com/maps?saddr=40.720201,-74.00568&amp;hl=en&amp;sll=40.679597,-73.968887&amp;sspn=0.141898,0.338173&amp;mra=mift&amp;mrsp=0&amp;sz=12&amp;t=m&amp;z=12", :style => "top:38%; left:26.5%;", :target => "_blank", :title => "Find Us on Google Maps"}
            %span
      / End contact-info
    / End row
  / End container
/ End contact section
/
  \==============================================
  SOCIAL LINKS
  \===============================================
%section#social-links.bg-transparent
  .container
    %ul
      %li.scrollimation.fade-up
        %a.icon{:href => "#twitterlink"}
          %i.fa.fa-twitter
        %h4 Follow us on Twitter
      %li.scrollimation.fade-up.d1
        %a.icon{:href => "#facebooklink"}
          %i.fa.fa-facebook
        %h4 Like us on Facebook
      %li.scrollimation.fade-up.d2
        %a.icon{:href => "#dribbblelink"}
          %i.fa.fa-dribbble
        %h4 Find us on Dribbble
      %li.scrollimation.fade-up.d3
        %a.icon{:href => "#gpluslink"}
          %i.fa.fa-google-plus
        %h4 Find us on Google+
  / End container
/ End skills section