%table.table.table-inverse
  %thead
    %tr
      %th Name
      %th Email
      %th Phone
      %th Comments
  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.name
        %td= contact.email
        %td= contact.phone
        %td= contact.message

