%ul.nav.nav-sidebar
  %li.active
    %a{:href => "#"} Overview
  / %li
  /   %a{:href => "http://bootstrapzero.com", :target => "_ext"} Themes
  / %li
  /   %a{:href => "http://bootstrap.theme.cards", :target => "_ext"} Analytics
  / %li
  /   %a{:href => "https://wrapbootstrap.com?ref=skelly", :target => "_ext"} Export


