%footer#main-footer
  .container
    .row
      .col-sm-5.left-col
        %p
          %span Skorpion Software
          \&copy;Copyright 2016 / All Rights Reserved
      .col-sm-2.text-center
        = image_tag 'vet.jpg', class: 'vet-image'
      .col-sm-5.right-col
        %ul.footer-nav
          %li
            %a.scrollto{:href => "#home"} Home
          %li
            %a.scrollto{:href => "#services"} Services
          %li
            %a.scrollto{:href => "#approach"} Approach
          %li
            %a.scrollto{:href => "#testimonials"} Process
          %li
            %a.scrollto{:href => "#about"} About
