%footer#main-footer
  .container
    .row
      .col-sm-6.left-col
        %p
          %span Skorpion Software
          \&copy;Copyright 2016 / All Rights Reserved
      .col-sm-6.right-col
        %ul.footer-nav
          %li
            %a.scrollto{:href => "#home"} Home
          %li
            %a.scrollto{:href => "#services"} Services
          %li
            %a.scrollto{:href => "#portfolio"} Portfolio
          %li
            %a.scrollto{:href => "#contact"} Contact